    <header class="blog-header">
            <h1>Howdy, I'm Erin Mikail Staples.</h1>
            <h2>I'm a developer advocate, community builder, tech educator, and stand-up comedian living in brooklyn, NYC.</h2>
            <button class="button members-subscribe" data-portal="signup">subscribe for updates</button>
    </header>

<div class="cover gh-outer">
    <div class="cover-content gh-inner">
        
        {{!-- {{#if @site.icon}}
            <div class="cover-icon">
                <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
            </div>
        {{/if}}

        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{/if}} --}}

        {{#unless @member}}
            <div class="cover-cta">

            </div>
        {{/unless}}
    </div>
</div>