{{#get "tags" limit="5" order="count.posts desc" as |popularTags|}}
    {{#if popularTags}}
        <div class="gh-outer">
            <section class="popular-tags-wrapper gh-inner">
                <h2 class="popular-tags-title">Popular Tags</h2>
                <div class="popular-tags-feed owl">
                    {{#foreach popularTags}}
                        <tag class="popular-tag">
                            <a href="{{url}}">{{name}}</a>
                        </tag>
                    {{/foreach}}
                </div>
            </section>
        </div>
    {{/if}}
{{/get}}
