.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 800;
    color: var(--brand-color);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: #e0e0e0;
    border: none;
    color: #000000;
    border-radius: 20px;
    outline: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color:#a0a0a0;
}

.button .icon-loading {
    display: none;
}

.button.loading {
    text-indent: -9999px;
}

.button.loading .icon-loading {
    display: block;
}

.button-secondary {
    color: var(--darker-gray-color);
}

.button-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    color: var(--darker-gray-color);
    cursor: pointer;
    background-color: #e0e0e0;
    border: none;
    color: #000000;
    border-radius: 20px;
    outline: none;
    transition: background-color 0.3s ease;
}

.button-icon:hover .icon {
    background-color:#a0a0a0;
}

.button-text {
    padding: 0;
    margin: 0;
    line-height: inherit;
    color: var(--darker-gray-color);
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
}
