@import "@tryghost/shared-theme-assets/assets/css/v1/screen.css";
@import "general/fonts.css";
@import "general/basics.css";
@import "general/button.css";
@import "general/form.css";
@import "general/icons.css";
@import "site/layout.css";
@import "site/header.css";
@import "site/cover.css";
@import "blog/feed.css";
@import "blog/featured.css";
@import "blog/pagination.css";
@import "blog/single.css";
@import "blog/author.css";
@import "blog/share.css";
@import "blog/navigation.css";
@import "blog/related.css";
@import "blog/comment.css";
@import "blog/tag.css";
@import "misc/owl.css";
@import "misc/utils.css";
@import "misc/animations.css";
@import "misc/dark.css";

/* Typographic profile about section
/* ---------------------------------------------------------- */

.has-typographic-about .gh-about {
    display: flex;
    min-height: calc(100vh - 110px);
    padding-top: 64px;
    padding-bottom: 64px;
}

.has-typographic-about .gh-about-inner {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: clamp(2.4rem, 2rem + 1.25vw, 4rem);
}

.has-typographic-about .gh-about-image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.has-typographic-about .gh-subscribe-input {
    margin-top: 48px;
}